Repository plotly/Dash.jl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, CI, enhancement

handle empty children
  src/app/dashapp.jl
  test/core.jl
Labels: tests

move logic to DashBase
  Project.toml
  src/app/dashapp.jl
  test/core.jl
Labels: tests, enhancement

rm `Base.getindex` for `DashBase.Component` methods
  src/app/dashapp.jl
Labels: none

rm `DashBase.to_dash` method definitions
  Project.toml
  src/Dash.jl
  src/plotly_base.jl
  src/plotly_js.jl
Labels: enhancement

add note about `docker start`
  build/README.md
Labels: documentation

add `test/integration/Project.toml`
  .circleci/config.yml
  CONTRIBUTING.md
  build/README.md
  test/integration/Project.toml
Labels: documentation, tests, enhancement

add note about using unreleased `DashBase`
  build/README.md
Labels: documentation

make `test_plotly_graph.py` more general
  test/integration/base/test_plotly_graph.py
Labels: tests

test graph render via `DashBasePlotlyJsExt`
  test/integration/base/jl_plotly_graph/jlpg001_plotly_graph.jl
  test/integration/base/jl_plotly_graph/jlpg002_plotlyjs_graph.jl
  test/integration/base/test_plotly_graph.py
Labels: tests

add graph render test for `DashBasePlotsExt`
  test/integration/base/jl_plotly_graph/jlpg003_plots_plotly_graph.jl
  test/integration/base/jl_plotly_graph/jlpg004_plots_plotlyjs_graph.jl
  test/integration/base/test_plotly_graph.py
Labels: tests

update CircleCI browser tools to `1.4.3`
  .circleci/config.yml
Labels: none

add DashBase `v1` in compat list
  Project.toml
Labels: enhancement

fixup percy snapshot name
  test/integration/base/test_plotly_graph.py
Labels: tests

add a few more details to the release checklist
  CONTRIBUTING.md
Labels: documentation, enhancement

add useful links
  README.md
Labels: documentation, enhancement

fixup markdown items
  README.md
Labels: documentation, enhancement

try dropping DashBase `0.2`
  Project.toml
Labels: enhancement

1.4.0
  Project.toml
Labels: enhancement

fix `convert([v], v)` dispatch for Julia 1.10
  src/app/supporttypes.jl
Labels: none

add `1.10.0` release candidate to CI
  .github/workflows/jl_test.yml
Labels: CI

accept app root path as kwarg to `dash()` method
  src/app/dashapp.jl
Labels: none

add compat for stdlib packages
  Project.toml
Labels: enhancement

use `circleci/browser-tools@1.4.6`
  .circleci/config.yml
Labels: none

use `"1.10"` in `jl_version` matrix
  .github/workflows/jl_test.yml
Labels: CI

use Julia 1.10.0 in `dashjl-tests` docker image
  build/Dockerfile
Labels: none

try using `dashjl-tests:0.4.0`
  .circleci/config.yml
Labels: none

1.5.0
  Project.toml
Labels: enhancement

try Julia 1.10.1
  .circleci/config.yml
  build/Dockerfile
Labels: none

removing Alex Johnson from code owners
  .github/CODEOWNERS
Labels: none

CompatHelper: bump compat for DataStructures to 0.19, (keep existing compat)
  Project.toml
Labels: enhancement

lint for `markdownlint`
  CODE_OF_CONDUCT.md
Labels: documentation, enhancement

bump `browser-tools` to `1.5.1`
  .circleci/config.yml
Labels: none

drop `chrome-version` setting
  .circleci/config.yml
Labels: none

1.5.1
  Project.toml
Labels: enhancement

update CODEOWNERS
  .github/CODEOWNERS
Labels: none

drop year in licence
  LICENSE
Labels: enhancement

comment-out `percy/finalize_all` step
  .circleci/config.yml
Labels: none

[tmp] try more :hocho: percy
  .circleci/config.yml
Labels: none

[tmp] comment out even more percy things
  test/integration/base/test_plotly_graph.py
  test/integration/base/test_render.py
Labels: tests

CompatHelper: bump compat for JSON to 1, (keep existing compat)
  Project.toml
Labels: enhancement

.github/labeler.yml:

documentation:
- "./*.md"
- "**/*.md"

tests:
- "test/*"
- "test/**/*"

CI:
- ".github/*.yml"
- ".github/workflows/*.yml"
- "./*.yml"

enhancement:
- "src/*.jl"
- "./*"
